*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Lobster, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  color: #3d3d3d;
}

.reaction__stats,
header {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}

header {
  z-index: 1;
  text-align: center;
  color: white;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 2rem 1rem;
}

h1 {
  font-family: Cookie, sans-serif;
  margin: 0 auto;
  max-width: 66.66%;
  font-size: 3.4rem;
  font-weight: bold;
  line-height: 1.2;
}

main {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.reaction {
  position: relative;
  width: 33.33%;
  height: 50%;
  background-size: cover;
  background-position: center;
}

.reaction__stats {
  text-align: center;
}

.reaction__emoji {
  display: block;
  max-width: 20%;
  height: auto;
  margin: 0 auto 1rem auto;
}

.reaction__counter {
  position: relative;
  font-size: 1.6rem;
  max-width: 40%;
  margin: 0 auto;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  border-radius: 6px;
  background-color: white;
}

.reaction__counter-number {
  position: absolute;
  font-size: 1.2rem;
  bottom: 0;
  right: 0.5rem;
  transform: translateY(50%);
  color: white;
  background-color: #f52c4c;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
}

.reaction__upload {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.reaction__upload [type="file"] {
  position: absolute;
  left: -99999999999px;
}
